.sidebar {
  /* Style for the sidebar container */
  margin: 0% 0% 0% 8% ;
}

.sidebar ul {
  list-style: none; /* Remove the bullets from list items */
  padding: 0;
}

.sidebar-link {
  text-decoration: none; /* Remove the underline from links */
}

.sidebar-link Button {
   /* Initial text color */
  background-color: transparent; /* Initial background color */
  border: none; /* Remove button border */
  transition: color 0.3s ease, background-color 0.3s ease; /* Transition for text color and background color */
  padding: 10px; /* Add padding for better visual */
  position: relative; /* Position relative for pseudo-element */
  overflow: hidden; /* Hide overflow to prevent gradient overflow */
}

.sidebar-link Button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0; /* Start the gradient from the left side */
  width: 0; /* Initially set the width to 0 */
  height: 100%;
  background: linear-gradient(to right, transparent, green); /* Linear gradient from transparent to green */
  transition: width 0.5s ease; /* Transition for width */
}
.sidebar-link Button:hover::before {
  width: 120%; /* Fill the gradient to 100% width on hover */
}
.sidebar-link Button:hover {
  color: white; /* Change text color on hover */
}
